name: Build and Deploy Flutter Web to gh-pages

# Allow workflow to push to repository using the GITHUB_TOKEN
permissions:
  contents: write

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          # use 'channel' instead of 'flutter-version' when referring to channel names
          channel: stable

      - name: Install dependencies
        run: flutter pub get

      - name: Build Web Release
        run: flutter build web --release --base-href /authlet/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
